<ion-content [fullscreen]="true">
  <div class="section-title">Филтрирай офертите</div>
  <form (ngSubmit)="applyFilters()">
    <!-- Brand (typeahead modal) -->
    <ion-item button (click)="brandModal?.present()">
      <ion-label>Марка</ion-label>
      <ion-text slot="end">{{ selectedBrand?.text || 'Избери марка' }}</ion-text>
    </ion-item>
    <ion-modal #brandModal>
      <ng-template>
        <app-typeahead
          class="ion-page"
          title="Избери марка"
          [items]="brandOptions"
          [selectedItems]="selectedBrand ? [selectedBrand.value] : []"
          (selectionChange)="brandSelectionChanged($event)">
        </app-typeahead>
      </ng-template>
    </ion-modal>

    <!-- Model (typeahead modal) -->
    <ion-item button (click)="modelModal?.present()" [disabled]="!selectedBrand">
      <ion-label>Модел</ion-label>
      <ion-text slot="end">{{ selectedModel?.text || 'Избери модел' }}</ion-text>
    </ion-item>
    <ion-modal #modelModal>
      <ng-template>
        <app-typeahead
          class="ion-page"
          title="Избери модел"
          [items]="modelOptions"
          [selectedItems]="selectedModel ? [selectedModel.value] : []"
          (selectionChange)="modelSelectionChanged($event)">
        </app-typeahead>
      </ng-template>
    </ion-modal>

    <!-- Year -->
    <ion-item>
      <ion-label>Мин. година</ion-label>
      <ion-input type="number" [(ngModel)]="minYear" name="MinYear" (ionInput)="validateField('minYear')"></ion-input>
    </ion-item>
    <div *ngIf="validationErrors['minYear']" class="field-error">{{ validationErrors['minYear'] }}</div>
    <ion-item>
      <ion-label>Макс. година</ion-label>
      <ion-input type="number" [(ngModel)]="maxYear" name="MaxYear" (ionInput)="validateField('maxYear')"></ion-input>
    </ion-item>
    <div *ngIf="validationErrors['maxYear']" class="field-error">{{ validationErrors['maxYear'] }}</div>

    <!-- Price -->
    <ion-item>
      <ion-label>Мин. цена</ion-label>
      <ion-input type="number" [(ngModel)]="minPrice" name="MinPrice" (ionInput)="validateField('minPrice')"></ion-input>
    </ion-item>
    <div *ngIf="validationErrors['minPrice']" class="field-error">{{ validationErrors['minPrice'] }}</div>
    <ion-item>
      <ion-label>Макс. цена</ion-label>
      <ion-input type="number" [(ngModel)]="maxPrice" name="MaxPrice" (ionInput)="validateField('maxPrice')"></ion-input>
    </ion-item>
    <div *ngIf="validationErrors['maxPrice']" class="field-error">{{ validationErrors['maxPrice'] }}</div>

    <!-- KM -->
    <ion-item>
      <ion-label>Мин. км</ion-label>
      <ion-input type="number" [(ngModel)]="minKM" name="MinKM" (ionInput)="validateField('minKM')"></ion-input>
    </ion-item>
    <div *ngIf="validationErrors['minKM']" class="field-error">{{ validationErrors['minKM'] }}</div>
    <ion-item>
      <ion-label>Макс. км</ion-label>
      <ion-input type="number" [(ngModel)]="maxKM" name="MaxKM" (ionInput)="validateField('maxKM')"></ion-input>
    </ion-item>
    <div *ngIf="validationErrors['maxKM']" class="field-error">{{ validationErrors['maxKM'] }}</div>

    <!-- Volume -->
    <ion-item>
      <ion-label>Мин. обем (cc)</ion-label>
      <ion-input type="number" [(ngModel)]="minVolume" name="MinVolume" (ionInput)="validateField('minVolume')"></ion-input>
    </ion-item>
    <div *ngIf="validationErrors['minVolume']" class="field-error">{{ validationErrors['minVolume'] }}</div>
    <ion-item>
      <ion-label>Макс. обем (cc)</ion-label>
      <ion-input type="number" [(ngModel)]="maxVolume" name="MaxVolume" (ionInput)="validateField('maxVolume')"></ion-input>
    </ion-item>
    <div *ngIf="validationErrors['maxVolume']" class="field-error">{{ validationErrors['maxVolume'] }}</div>

    <!-- Power -->
    <ion-item>
      <ion-label>Мин. мощност</ion-label>
      <ion-input type="number" [(ngModel)]="minPower" name="MinPower" (ionInput)="validateField('minPower')"></ion-input>
    </ion-item>
    <div *ngIf="validationErrors['minPower']" class="field-error">{{ validationErrors['minPower'] }}</div>
    <ion-item>
      <ion-label>Макс. мощност</ion-label>
      <ion-input type="number" [(ngModel)]="maxPower" name="MaxPower" (ionInput)="validateField('maxPower')"></ion-input>
    </ion-item>
    <div *ngIf="validationErrors['maxPower']" class="field-error">{{ validationErrors['maxPower'] }}</div>

    <!-- Color -->
    <ion-item button (click)="colorSelect.open()">
      <ion-label>Цвят</ion-label>
      <ion-text slot="end">{{ selectedColor || 'Избери' }}</ion-text>
      <ion-select #colorSelect interface="modal" [(ngModel)]="selectedColor"
                  name="Color" [selectedText]="''" placeholder=""
                  cancelText="" okText=""
                  style="opacity: 0; height: 0; width: 0; position: center;">
        <ion-select-option *ngFor="let color of colors" [value]="color">
          {{ color }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Euro -->
    <ion-item button (click)="euroSelect.open()">
      <ion-label>Евро стандарт</ion-label>
      <ion-text slot="end">{{ selectedEuro || 'Избери' }}</ion-text>
      <ion-select #euroSelect interface="modal" [(ngModel)]="selectedEuro"
                  name="Euro" [selectedText]="''" placeholder=""
                  cancelText="" okText=""
                  style="opacity: 0; height: 0; width: 0; position: center;">
        <ion-select-option *ngFor="let euro of euroStandards" [value]="euro">
          {{ euro }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Drive -->
    <ion-item button (click)="driveSelect.open()">
      <ion-label>Задвижване</ion-label>
      <ion-text slot="end">{{ selectedDrive || 'Избери' }}</ion-text>
      <ion-select #driveSelect interface="modal" [(ngModel)]="selectedDrive"
                  name="Drive" [selectedText]="''" placeholder=""
                  cancelText="" okText=""
                  style="opacity: 0; height: 0; width: 0; position: center;">
        <ion-select-option *ngFor="let drive of driveTypes" [value]="drive">
          {{ drive }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit" shape="round" class="add-car-btn" [disabled]="!isFormValid()">
      Потърси
    </ion-button>
  </form>

  <div class="section-title">Намерени оферти</div>
  <ion-card *ngFor="let offer of filteredOffers" class="offer-item" (click)="viewOfferDetails(offer.offerId)">
    <ion-card-content class="offer-content">
      <div class="offer-details">
        <h3 class="offer-title">{{ offer.Brand }} {{ offer.Model }}</h3>
        <p><strong>Година:</strong> {{ offer.Year }}</p>
        <p><strong>Километраж:</strong> {{ offer.Current_KM }} км</p>
        <p><strong>Цена:</strong> {{ offer.Price_of_selling }} лв.</p>
      </div>
      <img [src]="offer.photoUrl || '/assets/img/default-car.png'" alt="Car Image" class="offer-thumbnail"/>
    </ion-card-content>
  </ion-card>
</ion-content>
