<ion-content [fullscreen]="true">
  <form (ngSubmit)="addCar()">
    <div class="section-title">Качи снимки</div>
    <ion-item>
      <input type="file" (change)="onFilesSelected($event)" accept="image/*" multiple>
    </ion-item>

    <div class="image-preview-container" *ngIf="imagePreviews.length > 0">
      <div *ngFor="let preview of imagePreviews; let i = index" class="image-preview">
        <img [src]="preview" (click)="removePhoto(i)">
      </div>
    </div>

    <div class="section-title">Детайли на колата</div>

    <!-- Brand -->
    <ion-item button (click)="brandModal?.present()">
      <ion-label>Марка</ion-label>
      <ion-text slot="end">{{ selectedBrand?.text || "Избери марка" }}</ion-text>
    </ion-item>
    <div *ngIf="showError.brand && errors.brand" class="field-error">{{ errors.brand }}</div>
    <ion-modal #brandModal>
      <ng-template>
        <app-typeahead
          class="ion-page"
          title="Избери марка"
          [items]="carBrands"
          [selectedItems]="selectedBrand ? [selectedBrand.value] : []"
          (selectionChange)="brandSelectionChanged($event)">
        </app-typeahead>
      </ng-template>
    </ion-modal>

    <!-- Model -->
    <ion-item button (click)="modelModal?.present()" [disabled]="!selectedBrand">
      <ion-label>Модел</ion-label>
      <ion-text slot="end">{{ selectedModel?.text || "Избери модел" }}</ion-text>
    </ion-item>
    <div *ngIf="showError.model && errors.model" class="field-error">{{ errors.model }}</div>
    <ion-modal #modelModal>
      <ng-template>
        <app-typeahead
          class="ion-page"
          title="Избери модел"
          [items]="carModels"
          [selectedItems]="selectedModel ? [selectedModel.value] : []"
          (selectionChange)="modelSelectionChanged($event)">
        </app-typeahead>
      </ng-template>
    </ion-modal>

    <!-- Chassis Type Selection -->
    <ion-item button (click)="chassisSelect.open()">
      <ion-label>Тип на шасито</ion-label>
      <ion-text slot="end">
        {{ carData.Chassis_type || "Избери" }}
      </ion-text>
      <ion-select #chassisSelect interface="modal" [(ngModel)]="carData.Chassis_type"
                  name="Chassis_type" [selectedText]="''" placeholder=""
                  cancelText="" okText=""
                  style="opacity: 0; height: 0; width: 0; position: center;">
        <ion-select-option *ngFor="let type of chassisTypes" [value]="type.Chassis_type">
          {{ type.Label }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Color Selection -->
    <ion-item button (click)="colorSelect.open()">
      <ion-label>Цвят</ion-label>
      <ion-text slot="end">
        {{ carData.Color || "Избери" }}
      </ion-text>
      <ion-select #colorSelect interface="modal" [(ngModel)]="carData.Color"
                  name="Color" [selectedText]="''" placeholder=""
                  cancelText="" okText=""
                  style="opacity: 0; height: 0; width: 0; position: center;">
        <ion-select-option *ngFor="let color of colors" [value]="color">
          {{ color }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Engine Type Selection -->
    <ion-item button (click)="engineSelect.open()">
      <ion-label>Тип двигател</ion-label>
      <ion-text slot="end">
        {{ carData.Engine_type || "Избери" }}
      </ion-text>
      <ion-select #engineSelect interface="modal" [(ngModel)]="carData.Engine_type"
                  name="Engine_type" [selectedText]="''" placeholder=""
                  cancelText="" okText=""
                  style="opacity: 0; height: 0; width: 0; position: center;">
        <ion-select-option *ngFor="let type of engineTypes" [value]="type.Engine_type">
          {{ type.Label }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Transmission Type Selection -->
    <ion-item button (click)="transmissionSelect.open()">
      <ion-label>Скоростна кутия</ion-label>
      <ion-text slot="end">
        {{ carData.Transmission_type || "Избери" }}
      </ion-text>
      <ion-select #transmissionSelect interface="modal" [(ngModel)]="carData.Transmission_type"
                  name="Transmission_type" [selectedText]="''" placeholder=""
                  cancelText="" okText=""
                  style="opacity: 0; height: 0; width: 0; position: center;">
        <ion-select-option *ngFor="let type of transmissionTypes" [value]="type.Label">
          {{ type.Label }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Drive Type Selection -->
    <ion-item button (click)="driveSelect.open()">
      <ion-label>Задвижване</ion-label>
      <ion-text slot="end">
        {{ carData.Drive || "Избери" }}
      </ion-text>
      <ion-select #driveSelect interface="modal" [(ngModel)]="carData.Drive"
                  name="Drive" [selectedText]="''" placeholder=""
                  cancelText="" okText=""
                  style="opacity: 0; height: 0; width: 0; position: center;">
        <ion-select-option *ngFor="let drive of driveTypes" [value]="drive">
          {{ drive }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Euro Standard Selection -->
    <ion-item button (click)="euroSelect.open()">
      <ion-label>Евро стандарт</ion-label>
      <ion-text slot="end">
        {{ carData.Euro || "Избери" }}
      </ion-text>
      <ion-select #euroSelect interface="modal" [(ngModel)]="carData.Euro"
                  name="Euro" [selectedText]="''" placeholder=""
                  cancelText="" okText=""
                  style="opacity: 0; height: 0; width: 0; position: center;">
        <ion-select-option *ngFor="let euro of euroStandards" [value]="euro">
          {{ euro }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Volume Input -->
    <ion-item>
      <ion-label>Обем на двигателя (CC)</ion-label>
      <ion-input [(ngModel)]="carData.Volume" name="Volume" type="number" min="250" max="10000"
        required (ionInput)="onInputChange('volume')"></ion-input>
    </ion-item>
    <div *ngIf="showError.volume && errors.volume" class="field-error">{{ errors.volume }}</div>

    <!-- Power Input -->
    <ion-item>
      <ion-label>Мощност (к.с.)</ion-label>
      <ion-input [(ngModel)]="carData.Power" name="Power" type="number" min="30" max="5000"
        required (ionInput)="onInputChange('power')"></ion-input>
    </ion-item>
    <div *ngIf="showError.power && errors.power" class="field-error">{{ errors.power }}</div>

    <!-- Current KM Input -->
    <ion-item>
      <ion-label>Текущ пробег (км)</ion-label>
      <ion-input [(ngModel)]="carData.Current_KM" name="Current_KM" type="number" min="0" max="5000000"
        required (ionInput)="onInputChange('current_km')"></ion-input>
    </ion-item>
    <div *ngIf="showError.current_km && errors.current_km" class="field-error">{{ errors.current_km }}</div>

    <!-- Price of Buying Input -->
    <ion-item>
      <ion-label>Цена на покупка</ion-label>
      <ion-input [(ngModel)]="carData.Price_of_buying" name="Price_of_buying" type="number" min="0" max="10000000"
        required (ionInput)="onInputChange('price')"></ion-input>
    </ion-item>
    <div *ngIf="showError.price && errors.price" class="field-error">{{ errors.price }}</div>

    <!-- License Plate Input -->
    <ion-item>
      <ion-label>Регистрационен номер</ion-label>
      <ion-input [(ngModel)]="carData.License_plate" name="License_plate"
        (ionInput)="onInputChange('plate'); formatLicensePlate()" placeholder="" required>
      </ion-input>
    </ion-item>
    <div *ngIf="showError.plate && errors.plate" class="field-error">{{ errors.plate }}</div>

    <!-- Date Picker -->
    <ion-item>
      <ion-label>Дата</ion-label>
      <app-datetime-picker (dateSelected)="onDateChange($event)"></app-datetime-picker>
    </ion-item>
    <div *ngIf="showError.year && errors.year" class="field-error">{{ errors.year }}</div>

    <!-- Submit Button -->
    <ion-button expand="full" type="submit" shape="round" class="add-car-btn"
      [disabled]="isSubmitting || !isFormValid()">
      <ion-spinner *ngIf="isSubmitting" name="crescent"></ion-spinner>
      <span *ngIf="!isSubmitting">Добави кола</span>
    </ion-button>
  </form>
</ion-content>
