<ion-content *ngIf="carDetails">
  <!-- Car Image Section -->
  <ion-card class="car-details-card">
    <div class="car-image-container">
      <div class="image-wrapper">
        <img [src]="photoUrls[currentPhotoIndex]" class="car-image" (click)="nextPhoto()">
      </div>
      <button *ngIf="currentPhotoIndex > 0" (click)="previousPhoto()" class="image-nav left">❮</button>
      <button *ngIf="currentPhotoIndex < photoUrls.length - 1" (click)="nextPhoto()" class="image-nav right">❯</button>
    </div>

    <!-- License Plate -->
    <div class="license-plate">
      <span class="plate-char">
        {{ carDetails.License_plate.length === 8 ? carDetails.License_plate.substring(0, 2) : carDetails.License_plate.substring(0, 1) }}
      </span>
      <span class="plate-space"></span>
      <span class="plate-number">
        {{ carDetails.License_plate.length === 8 ? carDetails.License_plate.substring(2) : carDetails.License_plate.substring(1) }}
      </span>
    </div>
  </ion-card>

  <!-- Car Info Card -->
  <ion-card class="car-details-card">
    <ion-card-header>
      <ion-card-title>{{ carDetails.Brand }} {{ carDetails.Model }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="car-detail-item" *ngIf="carDetails.Chassis_type">
        <span class="detail-label">Тип на шасито:</span>
        <span class="detail-value">{{ carDetails.Chassis_type }}</span>
      </div>
      <div class="car-detail-item" *ngIf="carDetails.Engine_type">
        <span class="detail-label">Тип двигател:</span>
        <span class="detail-value">{{ carDetails.Engine_type }}</span>
      </div>
      <div class="car-detail-item" *ngIf="carDetails.Transmission_type">
        <span class="detail-label">Скоростна кутия:</span>
        <span class="detail-value">{{ carDetails.Transmission_type }}</span>
      </div>
      <div class="car-detail-item" *ngIf="carDetails.Color">
        <span class="detail-label">Цвят:</span>
        <span class="detail-value">{{ carDetails.Color }}</span>
      </div>
      <div class="car-detail-item" *ngIf="carDetails.Drive">
        <span class="detail-label">Задвижване:</span>
        <span class="detail-value">{{ carDetails.Drive }}</span>
      </div>
      <div class="car-detail-item" *ngIf="carDetails.Volume">
        <span class="detail-label">Обем:</span>
        <span class="detail-value">{{ carDetails.Volume }} cc</span>
      </div>
      <div class="car-detail-item" *ngIf="carDetails.Euro">
        <span class="detail-label">Евро стандарт:</span>
        <span class="detail-value">{{ carDetails.Euro }}</span>
      </div>
      <div class="car-detail-item" *ngIf="carDetails.Power">
        <span class="detail-label">Мощност:</span>
        <span class="detail-value">{{ carDetails.Power }} HP</span>
      </div>
      <div class="car-detail-item" *ngIf="carDetails.Year">
        <span class="detail-label">Година:</span>
        <span class="detail-value">{{ carDetails.Year }}</span>
      </div>
      <div class="car-detail-item" *ngIf="carDetails.Current_KM">
        <span class="detail-label">Километраж:</span>
        <span class="detail-value">{{ carDetails.Current_KM }}</span>
      </div>
    </ion-card-content>
  </ion-card>

    <!-- Price -->
    <ion-item [class.invalid-item]="(sellingPrice === null || sellingPrice < 0 || sellingPrice > 1000000) && showValidation">
      <ion-label>Цена</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="sellingPrice"
        name="sellingPrice"
        placeholder="Въведи цена">
      </ion-input>
    </ion-item>
    <div *ngIf="sellingPrice === null && showValidation" class="error-text">Полето е задължително.</div>
    <div *ngIf="sellingPrice !== null && (sellingPrice < 0 || sellingPrice > 1000000) && showValidation" class="error-text">
      Стойността трябва да е между 0 и 1 000 000.
    </div>

    <!-- Bonus Description -->
    <ion-item class="form-item">
      <ion-label class="no-wrap-label">Oписание</ion-label>
      <ion-input
      [(ngModel)]="description"
      name="description"
      placeholder="Въведи описание">
      </ion-input>
    </ion-item>

    <!-- Submit -->
    <ion-button expand="full" shape="round" class="add-btn" (click)="confirmListing()">Потвърди</ion-button>    
</ion-content>

<ion-content *ngIf="!carDetails">
  <ion-text color="danger">
    <h2 style="text-align: center; padding: 2rem;">Информацията за колата не беше намерена.</h2>
  </ion-text>
</ion-content>
