<ion-content [fullscreen]="true">
  <form (ngSubmit)="submitBlog()">
    <div class="section-title">Създай публикация</div>

    <!-- Title -->
    <ion-item [class.invalid-item]="!title && showValidation">
      <ion-label>Заглавие</ion-label>
      <ion-input
        [(ngModel)]="title"
        name="title"
        placeholder="Въведи заглавие"
        required>
      </ion-input>
    </ion-item>
    <div *ngIf="!title && showValidation" class="error-text">
      Полето е задължително.
    </div>

    <!-- Content -->
    <ion-item [class.invalid-item]="(!content || content.length > 5000) && showValidation">
      <ion-label>Съдържание</ion-label>
      <ion-textarea
        [(ngModel)]="content"
        name="content"
        autoGrow="true"
        maxlength="5000"
        placeholder="Въведи съдържание"
        required>
      </ion-textarea>
    </ion-item>
    <div *ngIf="!content && showValidation" class="error-text">
      Полето е задължително.
    </div>
    <div *ngIf="content.length > 5000 && showValidation" class="error-text">
      Съдържанието не трябва да надвишава 5000 символа.
    </div>

    <!-- Submit Button -->
    <ion-button expand="full" type="submit" shape="round" class="add-car-btn">
      Публикувай
    </ion-button>
  </form>
</ion-content>
