<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let car of cars" (click)="goToCarDetails(car.CarID)">
        <ion-card>
          <ion-label>
            <h1>{{ car.License_plate }}</h1>
          </ion-label>
        </ion-card>
      </ion-item>
    </ion-list>
    <ion-button expand="full" routerLink="/car-add" color="primary" class="add-car-btn">
      Add New Car
    </ion-button>  
  </ion-content>

  <!-- Message when no cars are available -->
  <ion-card *ngIf="cars.length === 0">
    <ion-card-header>
      <ion-card-title>No Cars Available</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      You don't have any cars added. Click the "Add New Car" button above to add a car.
    </ion-card-content>
  </ion-card>
</ion-content>
