<ion-content [fullscreen]="true">
  <form (ngSubmit)="saveCar()">
    <!-- Brand Dropdown -->
    <ion-item>
      <ion-label>Brand</ion-label>
      <ion-select [(ngModel)]="carDetails.Brand" (ionChange)="loadModel(carDetails.Brand)" name="Brand">
        <ion-select-option *ngFor="let brand of carBrands" [value]="brand.BrandID">
          {{ brand.BrandName }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Model Dropdown -->
    <ion-item>
      <ion-label>Model</ion-label>
      <ion-select [(ngModel)]="carDetails.Model" name="Model">
        <ion-select-option *ngFor="let model of filteredModels" [value]="model.ModelName">
          {{ model.ModelName }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Chassis Type Dropdown -->
    <ion-item>
      <ion-label>Chassis Type</ion-label>
      <ion-select [(ngModel)]="carDetails.Chassis_type" name="Chassis_type">
        <ion-select-option *ngFor="let type of chassisTypes" [value]="type.Chassis_type">
          {{ type.Chassis_type }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Engine Type Dropdown -->
    <ion-item>
      <ion-label>Engine Type</ion-label>
      <ion-select [(ngModel)]="carDetails.Engine_type" name="Engine_type">
        <ion-select-option *ngFor="let type of engineTypes" [value]="type.Engine_type">
          {{ type.Engine_type }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Transmission Type Dropdown -->
    <ion-item>
      <ion-label>Transmission Type</ion-label>
      <ion-select [(ngModel)]="carDetails.Transmission_type" name="Transmission_type">
        <ion-select-option *ngFor="let type of transmissionTypes" [value]="type.Transmission_type">
          {{ type.Transmission_type }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Year Picker -->
    <ion-item class="custom-date-picker">
      <ion-label>Date</ion-label>
      <ion-datetime [(ngModel)]="carDetails.Date" name="Date" presentation="date" [preferWheel]="true"></ion-datetime>
    </ion-item>
    

    <!-- Current KM -->
    <ion-item>
      <ion-label>Current KM</ion-label>
      <ion-input [(ngModel)]="carDetails.Current_KM" name="Current_KM" type="number"></ion-input>
    </ion-item>

    <!-- License Plate Input -->
    <ion-item>
      <ion-label>License Plate</ion-label>
      <ion-input [(ngModel)]="carDetails.License_plate" name="License_plate"></ion-input>
    </ion-item>

    <!-- Submit Button -->
    <ion-button expand="full" type="submit">Save Changes</ion-button>
  </form>
</ion-content>
