<!-- car-edit.page.html -->
<ion-content [fullscreen]="true">
  <form (ngSubmit)="saveCar()">
    <ion-item>
      <ion-label>Car Images</ion-label>
      <input type="file" (change)="onFilesSelected($event)" accept="image/*" multiple>
    </ion-item>

    <!-- Display existing images and allow deletion on click -->
    <ion-item *ngIf="existingImages.length > 0">
      <ion-label>Existing Images</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let imageUrl of imagePreviews; let i = index">
            <img [src]="imageUrl" alt="Car Image" style="width: 100px; height: 100px; object-fit: cover;"
              (click)="deletePhoto(i)">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


    <ion-item>
      <ion-label>Brand</ion-label>
      <ion-select
        [(ngModel)]="carDetails.Brand"
        (ionChange)="loadModels(carDetails.Brand)"
        name="Brand"
        interface="popover"
        placeholder="Select Brand"
      >
        <ion-select-option *ngFor="let brand of brandOptions" [value]="brand.BrandID">
          {{ brand.BrandName }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Model</ion-label>
      <ion-select
        [(ngModel)]="carDetails.Model"
        name="Model"
        interface="popover"
        placeholder="Select Model"
      >
        <ion-select-option *ngFor="let model of filteredModels" [value]="model">
          {{ model }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Chassis Type</ion-label>
      <ion-select [(ngModel)]="carDetails.Chassis_type" name="Chassis_type">
        <ion-select-option *ngFor="let type of chassisTypes" [value]="type.Chassis_type">
          {{ type.Label }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Engine Type</ion-label>
      <ion-select [(ngModel)]="carDetails.Engine_type" name="Engine_type">
        <ion-select-option *ngFor="let type of engineTypes" [value]="type.Engine_type">
          {{ type.Label }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Transmission Type</ion-label>
      <ion-select [(ngModel)]="carDetails.Transmission_type" name="Transmission_type">
        <ion-select-option *ngFor="let type of transmissionTypes" [value]="type.Type">
          {{ type.Label }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Color</ion-label>
      <ion-select [(ngModel)]="carDetails.Color" name="Color">
        <ion-select-option *ngFor="let color of colorOptions" [value]="color">
          {{ color }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Drive</ion-label>
      <ion-select [(ngModel)]="carDetails.Drive" name="Drive">
        <ion-select-option *ngFor="let drive of driveOptions" [value]="drive">
          {{ drive }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Volume (cc)</ion-label>
      <ion-input [(ngModel)]="carDetails.Volume" name="Volume" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Euro Standard</ion-label>
      <ion-select [(ngModel)]="carDetails.Euro" name="Euro">
        <ion-select-option *ngFor="let euro of euroOptions" [value]="euro">
          {{ euro }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Power (HP)</ion-label>
      <ion-input [(ngModel)]="carDetails.Power" name="Power" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Year</ion-label>
      <ion-datetime
        [(ngModel)]="carDetails.Year"
        name="Year"
        presentation="date"
        [preferWheel]="true"
        display-format="DD-MM-YYYY"
        picker-format="DD-MM-YYYY"
      ></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label>Current KM</ion-label>
      <ion-input [(ngModel)]="carDetails.Current_KM" name="Current_KM" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>License Plate</ion-label>
      <ion-input [(ngModel)]="carDetails.License_plate" name="License_plate"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Save Changes</ion-button>
  </form>
</ion-content>