<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card *ngFor="let expense of monthlyExpenses" class="custom-item">
    <ion-card-header>
      <ion-card-title class="section-title">Месец: {{ expense.id.split('_')[1] }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Похарчено:</strong> {{ expense.spentsThisPeriod }} лв.</p>
      <p><strong>Последна актуализация:</strong> {{ expense.lastSpent | date:'dd-MM-yyyy' }}</p>

    </ion-card-content>
  </ion-card>
</ion-content>
