<ion-header>
  <ion-toolbar>
    <ion-title>Refueling</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Add Refueling Button -->
  <ion-button expand="full" (click)="openAddRefuelingPopup()">Add Refueling</ion-button>

  <!-- Dropdown for Fuel Type -->
  <ion-item>
    <ion-label>Fuel Type</ion-label>
    <ion-select
      [(ngModel)]="refuelingData.fuelType"
      placeholder="Select Fuel Type"
      required
    >
      <ion-select-option *ngFor="let type of engineTypes" [value]="type.Type">
        {{ type.Label }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- List of Refueling Documents -->
  <ion-card *ngFor="let refuel of refuelingDocuments">
    <ion-card-header>
      <ion-card-title>Date: {{ refuel.date }}</ion-card-title>
      <ion-card-subtitle>Fuel Type: {{ refuel.fuelType }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Fuel Quantity: {{ refuel.fuelQuantity }} liters</p>
      <p>Cost: {{ refuel.cost | currency }}</p>
      <p>Odometer: {{ refuel.odometer }} KM</p>
    </ion-card-content>
  </ion-card>
</ion-content>
