<ion-content [fullscreen]="true">
  <!-- Toggle Form Button -->
  <ion-button expand="full" shape="round" (click)="toggleForm()" class="add-btn">
    {{ showForm ? 'Скрий формата' : 'Добави зареждане' }}
  </ion-button>

  <!-- Refueling Form Section -->
  <div *ngIf="showForm">
    <form (ngSubmit)="addRefuelingRecord()">
        <ion-card-content>

          <!-- Fuel Quantity -->
          <ion-item [class.invalid-item]="(!refuelingData.fuelQuantity || refuelingData.fuelQuantity < 0 || refuelingData.fuelQuantity > 200) && showValidation">
            <ion-label>Литри гориво</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="refuelingData.fuelQuantity"
              name="fuelQuantity"
              placeholder="Въведи количество">
            </ion-input>
          </ion-item>
          <div *ngIf="!refuelingData.fuelQuantity && showValidation" class="error-text">
            Полето е задължително.
          </div>
          <div *ngIf="refuelingData.fuelQuantity && (refuelingData.fuelQuantity < 0 || refuelingData.fuelQuantity > 200) && showValidation" class="error-text">
            Стойността трябва да е между 0 и 200.
          </div>          

          <!-- Cost -->
          <ion-item [class.invalid-item]="(!refuelingData.cost || refuelingData.cost < 0 || refuelingData.cost > 600) && showValidation">
            <ion-label>Цена</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="refuelingData.cost"
              name="cost"
              placeholder="Въведи цена">
            </ion-input>
          </ion-item>
          <div *ngIf="!refuelingData.cost && showValidation" class="error-text">
            Полето е задължително.
          </div>
          <div *ngIf="refuelingData.cost && (refuelingData.cost < 0 || refuelingData.cost > 600) && showValidation" class="error-text">
            Стойността трябва да е между 0 и 600.
          </div>          

          <!-- Odometer -->
          <ion-item [class.invalid-item]="(!refuelingData.odometer || refuelingData.odometer < 0 || refuelingData.odometer > 10000000) && showValidation">
            <ion-label>Километраж</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="refuelingData.odometer"
              name="odometer"
              placeholder="Въведи километраж">
            </ion-input>
          </ion-item>
          <div *ngIf="!refuelingData.odometer && showValidation" class="error-text">
            Полето е задължително.
          </div>
          <div *ngIf="refuelingData.odometer && (refuelingData.odometer < 0 || refuelingData.odometer > 10000000) && showValidation" class="error-text">
            Стойността трябва да е между 0 и 10000000.
          </div>
          

          <!-- Date -->
          <ion-item [class.invalid-item]="!refuelingData.date && showValidation">
            <ion-label>Дата</ion-label>
            <app-datetime-picker (dateSelected)="onDateChange($event)"></app-datetime-picker>
          </ion-item>
          <div *ngIf="!refuelingData.date && showValidation" class="error-text">
            Полето е задължително.
          </div>

          <!-- Submit Button -->
          <ion-button expand="full" type="submit" shape="round" class="add-btn">
            Запази
          </ion-button>
        </ion-card-content>
    </form>
  </div>

  <!-- List of Refueling Records -->
  <ion-card *ngFor="let refuel of refuelingDocuments" class="custom-item">
    <ion-card-header>
      <ion-card-title class="section-title">Дата: {{ refuel.date }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Количество:</strong> {{ refuel.fuelQuantity }} литра</p>
      <p><strong>Цена:</strong> {{ refuel.cost }} лева</p>
      <p><strong>Километраж:</strong> {{ refuel.odometer }} км</p>
      <ion-button color="danger" expand="full" shape="round" (click)="deleteRefuelingRecord(refuel.id)">
        Изтрий
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
