<ion-content [fullscreen]="true">
  <ion-card class="chat-card">
      <ion-list>
        <ion-item *ngFor="let message of messages">
          <ion-label>
            <p>
              <strong>{{ message.username }}</strong>: {{ message.text }}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
  </ion-card>
</ion-content>

<ion-footer class="chat-footer">
  <ion-item lines="none">
    <ion-input
      [(ngModel)]="messageInput"
      placeholder="Напиши съобщение..."
      class="custom-input"
    ></ion-input>
    <ion-button shape="round" class="send-button" (click)="sendMessage()">Изпрати</ion-button>
  </ion-item>
</ion-footer>
