<ion-content *ngIf="carDetails">
  <ion-card>
    <img *ngIf="carDetails.photoUrl" [src]="carDetails.photoUrl" alt="Car Image" />

    <ion-card-header>
      <ion-card-title>{{ carDetails.Brand }} {{ carDetails.Model }}</ion-card-title>
      <ion-card-subtitle>{{ carDetails.License_plate }}</ion-card-subtitle>
      <ion-card-subtitle>
        Seller: <a (click)="startChat()">{{ carDetails.SellerUsername }}</a>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Chassis Type:</strong> {{ carDetails.Chassis_type }}</p>
      <p><strong>Engine Type:</strong> {{ carDetails.Engine_type }}</p>
      <p><strong>Year:</strong> {{ carDetails.Year }}</p>
      <p><strong>Current KM:</strong> {{ carDetails.Current_KM }}</p>
      <p><strong>Selling Price:</strong> {{ carDetails.Price_of_selling | currency }}</p>
      <p><strong>Description:</strong> {{ carDetails.Description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
