<!-- annual-tax.page.html -->>
<ion-content [fullscreen]="true">
  <ion-button expand="full" (click)="toggleForm()">
    {{ showForm ? 'Hide Form' : 'Add Annual Tax' }}
  </ion-button>

  <div *ngIf="showForm">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Add Annual Tax Record</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Tax Year</ion-label>
          <ion-input type="number" [(ngModel)]="taxYear" placeholder="Enter Year (e.g., 2024)"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Payment Half</ion-label>
          <ion-radio-group [(ngModel)]="paymentHalf">
            <ion-item>
              <ion-label>First Half (Jan - Jun)</ion-label>
              <ion-radio slot="start" value="Jan - Jun"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Second Half (Jul - Dec)</ion-label>
              <ion-radio slot="start" value="Jul - Dec"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Full Year (Jan - Dec)</ion-label>
              <ion-radio slot="start" value="Jan - Dec"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Cost</ion-label>
          <ion-input type="number" [(ngModel)]="cost" placeholder="Enter Cost"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime [(ngModel)]="paymentDate" name="paymentDate" presentation="date" [preferWheel]="true"></ion-datetime>
        </ion-item>

        <ion-button expand="full" (click)="addAnnualTaxRecord()">Save</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngFor="let tax of annualTaxDocuments">
    <ion-card-header>
      <ion-card-title>Tax Year: {{ tax.taxYear }}</ion-card-title>
      <ion-card-subtitle>Payment for: {{ tax.paymentHalf }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Payment Date:</strong> {{ tax.paymentDate }}</p>
      <p><strong>Cost:</strong> {{ tax.cost | currency }}</p>
      <ion-button color="danger" expand="full" (click)="deleteAnnualTaxRecord(tax.id)">
        Delete
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
