<ion-app>
  <ion-header *ngIf="showHeader">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/cars"></ion-back-button>
      </ion-buttons>
      <!-- Moved the logo to the right -->
      <ion-buttons slot="end">
        <ion-button routerLink="/cars" fill="clear">
          <img src="assets/img/logo.png" alt="Logo" />
        </ion-button>
      </ion-buttons>
      <!-- Menu toggle is hidden if the menu is not visible -->
      <ion-menu-toggle *ngIf="showMenu" class="menu-toggle-right">
        <ion-button menuToggle="end-menu" fill="clear" class="menu-toggle-button">
          {{ username }}
        </ion-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <!-- Menu and content remain unchanged -->
  <ion-menu *ngIf="showMenu" side="end" contentId="main-content" menuId="main-menu">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item routerLink="/cars">Cars</ion-item>
        <ion-item routerLink="/blog-list">Blogs</ion-item>
        <ion-item routerLink="/chat-list">Chats</ion-item>
        <ion-item routerLink="/car-market">Buy Car</ion-item>
        <ion-item (click)="logout()">Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content" [class.no-header]="!showHeader"></ion-router-outlet>
</ion-app>
