<!-- sidebar.component.html -->
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Sidebar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="home" slot="start"></ion-icon>
        Home
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        Profile
      </ion-item>
      <!-- Add other sidebar items here -->
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main">
  <!-- Main content here, e.g., a page layout -->
</div>
