<ion-content [fullscreen]="true">
  <!-- Section Title -->
  <div class="section-title">Настройки на профила</div>

  <!-- Username Input + Button -->
  <div class="inline-setting">
    <ion-label>Потребителско име:</ion-label>
    <ion-input [(ngModel)]="username" type="text" class="settings-input"></ion-input>
  </div>

  <ion-button expand="full" shape="round" class="add-btn" (click)="updateUsername()">
    Обнови
  </ion-button>


  <ion-button expand="full" shape="round" color="danger" class="danger-btn" (click)="deleteAccount()">
    Изтрий aкаунта
  </ion-button>
</ion-content>
