<ion-content [fullscreen]="true">
  <!-- Searchbar -->
  <ion-searchbar
    [(ngModel)]="searchQuery"
    (ionInput)="searchUsers()"
    placeholder="Търси потребител..."
    class="custom-search">
  </ion-searchbar>

  <!-- Search Results -->
  <div class="section-title" *ngIf="searchResults.length > 0">Намерените потребители</div>
  <ion-card *ngFor="let user of searchResults" class="custom-item" (click)="startChat(user)">
    <ion-card-content>
      <p class="chat-username">{{ '@' + user.username }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Existing Chats -->
  <ng-container *ngIf="!searchQuery.trim()">
    <ion-card *ngFor="let chat of chats" class="custom-item" (click)="openChat(chat.id)">
      <ion-card-content>
        <p class="chat-username">{{ '@' + chat.otherUsername }}</p>
        <p class="chat-time">{{ chat.lastMessageTimestamp?.toDate() | date: 'short' }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>

