<!-- car-market.page.html -->>
<ion-content>
  <!-- Filters Section -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Filters</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-label>Brand</ion-label>
        <ion-select [(ngModel)]="selectedBrand" (ionChange)="updateModels()">
          <ion-select-option *ngFor="let brand of brands" [value]="brand">{{ brand }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Model</ion-label>
        <ion-select [(ngModel)]="selectedModel">
          <ion-select-option *ngFor="let model of models" [value]="model">{{ model }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Min Year</ion-label>
        <ion-input type="number" [(ngModel)]="minYear"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Max Year</ion-label>
        <ion-input type="number" [(ngModel)]="maxYear"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Min Price</ion-label>
        <ion-input type="number" [(ngModel)]="minPrice"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Max Price</ion-label>
        <ion-input type="number" [(ngModel)]="maxPrice"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Min KM</ion-label>
        <ion-input type="number" [(ngModel)]="minKM"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Max KM</ion-label>
        <ion-input type="number" [(ngModel)]="maxKM"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Min Engine Volume (cc)</ion-label>
        <ion-input type="number" [(ngModel)]="minVolume"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Max Engine Volume (cc)</ion-label>
        <ion-input type="number" [(ngModel)]="maxVolume"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Min Power (HP)</ion-label>
        <ion-input type="number" [(ngModel)]="minPower"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Max Power (HP)</ion-label>
        <ion-input type="number" [(ngModel)]="maxPower"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Color</ion-label>
        <ion-select [(ngModel)]="selectedColor">
          <ion-select-option *ngFor="let color of colors" [value]="color">{{ color }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Euro Standard</ion-label>
        <ion-select [(ngModel)]="selectedEuro">
          <ion-select-option *ngFor="let euro of euroStandards" [value]="euro">{{ euro }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Drive Type</ion-label>
        <ion-select [(ngModel)]="selectedDrive">
          <ion-select-option *ngFor="let drive of driveTypes" [value]="drive">{{ drive }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="full" (click)="applyFilters()">Search</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Car Offers -->
  <ion-list>
    <ion-card *ngFor="let offer of filteredOffers" (click)="viewOfferDetails(offer.offerId)">
      <img *ngIf="offer.photoUrl" [src]="offer.photoUrl" alt="Car Image" />

      <ion-card-header>
        <ion-card-title>{{ offer.Brand }} {{ offer.Model }}</ion-card-title>
        <ion-card-subtitle>{{ offer.License_plate }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Year:</strong> {{ offer.Year }}</p>
        <p><strong>Current KM:</strong> {{ offer.Current_KM }}</p>
        <p><strong>Selling Price:</strong> {{ offer.Price_of_selling | currency }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>