<ion-content [fullscreen]="true">
  <!-- Toggle Form Button -->
  <ion-button expand="full" shape="round" (click)="toggleExpenseForm()" class="add-btn">
    {{ showExpenseForm ? 'Скрий формата' : 'Добави разход' }}
  </ion-button>

  <!-- Expense Form -->
  <div class="collapsible-section" [class.open]="showExpenseForm">
    <form *ngIf="showExpenseForm" (ngSubmit)="addExpenseRecord()">
      <ion-card-content>
        <!-- Cost -->
        <ion-item [class.invalid-item]="(!expenseData.cost || expenseData.cost < 0 || expenseData.cost > 1000000) && showValidation">
          <ion-label>Цена</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="expenseData.cost"
            name="cost"
            placeholder="Въведи цена">
          </ion-input>
        </ion-item>
        <div *ngIf="!expenseData.cost && showValidation" class="error-text">
          Полето е задължително.
        </div>
        <div *ngIf="expenseData.cost && (expenseData.cost < 0 || expenseData.cost > 1000000) && showValidation" class="error-text">
          Стойността трябва да е между 0 и 1 000 000.
        </div>

        <!-- Description -->
        <ion-item [class.invalid-item]="!expenseData.description && showValidation">
          <ion-label>Описание</ion-label>
          <ion-textarea
            [(ngModel)]="expenseData.description"
            name="description"
            placeholder="Въведи описание">
          </ion-textarea>
        </ion-item>
        <div *ngIf="!expenseData.description && showValidation" class="error-text">
          Полето е задължително.
        </div>

         <!-- Date -->
         <ion-item [class.invalid-item]="!expenseData.date && showValidation">
          <ion-label>Дата</ion-label>
          <app-datetime-picker (dateSelected)="expenseData.date = $event"></app-datetime-picker>
        </ion-item>
        <div *ngIf="!expenseData.date && showValidation" class="error-text">
          Полето е задължително.
        </div>

        <!-- Save Button -->
        <ion-button expand="full" type="submit" shape="round" class="add-btn">
          Запази
        </ion-button>

      </ion-card-content>
    </form>
  </div>

  <!-- List of Expense Records -->
  <ion-card *ngFor="let expense of expensesRecords" class="custom-item">
    <ion-card-header>
      <ion-card-title class="section-title">Дата: {{ expense.date }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Цена:</strong> {{ expense.cost }} лв.</p>
      <p><strong>Описание:</strong> {{ expense.description }}</p>
      <ion-button color="danger" expand="full" shape="round" (click)="deleteExpenseRecord(expense.id)">
        Изтрий
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
