ion-content {
  animation: fadeIn 0.3s ease-in-out;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem; 
}

.logo {
  max-width: 12rem; 
  margin-bottom: 3rem;
  border-radius: 3rem; 
}  

.custom-input {
  --background: #256976; 
  --color: #ffffff;
  border-radius: 6rem;
  margin-top: 2.5rem;
  width: 80%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.custom-input ion-label,
.custom-input ion-input {
  color: #ffffff !important;
}

.login-button {
  --background: #256976; 
  --color: #ffffff; 
  border-radius: 6rem; 
  margin-top: 2.5rem;
  width: 60%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

.register-link {
  margin-top: 20px;
  
  ion-button {
    --background: transparent;
    --color: #fff; 
    border-radius: 3rem;
    white-space: pre-wrap;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
