ion-datetime {
  --background: transparent !important;
  --color: #ffffff !important;
  --wheel-highlight-background: rgba(218, 216, 255, 0.2) !important;
  --wheel-highlight-border-radius: 2rem !important;
  --wheel-fade-background-rgb: 0, 0, 0, 0 !important;
  --padding: 0 !important;
  width: 85%;
  transform: translateX(-10%);
  height: 5rem;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

ion-datetime::part(wheel-item) {
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 1.4rem !important;
  font-weight: bold;
  text-align: center;
  height: 2rem !important; 
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-datetime::part(wheel-item active) {
  color: #ffffff !important; 
  font-size: 1.4rem !important;
  font-weight: bold;
  text-align: center;
  height: 2rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .picker-wrapper {
  position: relative;
  overflow: hidden;
  height: 3rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .picker-columns {
  position: relative;
  overflow: hidden;
  height: 3rem;
  mask-image: linear-gradient(to bottom, transparent, white 20%, white 80%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, white 35%, white 65%, transparent);
  transform: translateY(0) !important; 
  transition: transform 0.2s ease-out !important;
}

ion-datetime {
  animation: fadeIn 1s ease-in-out;
  overflow: hidden !important; 
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
