<ion-content [fullscreen]="true">
  <!-- Toggle Button -->
  <ion-button expand="full" shape="round" (click)="toggleCheckForm()" class="add-btn">
    {{ showCheckForm ? 'Скрий формата' : 'Добави преглед' }}
  </ion-button>

  <!-- Add Check Form -->
  <div *ngIf="showCheckForm">
    <form (ngSubmit)="addVehicleCheckRecord()">
      <ion-card-content>

        <!-- Cost -->
        <ion-item [class.invalid-item]="showError.cost">
          <ion-label>Цена</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="checkData.cost"
            name="cost"
            placeholder="Въведи цена"
            (ngModelChange)="onCostChange()"
          ></ion-input>
        </ion-item>
        <div *ngIf="showError.cost" class="error-text">
          Полето е задължително и трябва да е между 0 и 1000.
        </div>

         <!-- Start Date -->
         <ion-item [class.invalid-item]="showError.startDate">
          <ion-label>Дата на преглед</ion-label>
          <app-datetime-picker (dateSelected)="onStartDateChange($event)"></app-datetime-picker>
        </ion-item>
        <div *ngIf="showError.startDate" class="error-text">
          Полето е задължително.
        </div>

        <!-- Submit Button -->
        <ion-button
          expand="full"
          type="submit"
          shape="round"
          class="add-btn"
          [disabled]="!isFormValid() || disableSaveBtn"
        >
          <ion-spinner *ngIf="isAdding" name="crescent"></ion-spinner>
          <span *ngIf="!isAdding">Запази</span>
        </ion-button>
      </ion-card-content>
    </form>
  </div>

  <!-- List of Check Records -->
  <ion-card *ngFor="let check of vehicleCheckRecords" class="custom-item">
    <ion-card-header>
      <ion-card-title class="section-title">Начална дата: {{ check.startDate }}</ion-card-title>
      <ion-card-subtitle>Крайна дата: {{ check.endDate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Цена:</strong> {{ check.cost | currency:'BGN':'symbol-narrow' }}</p>
      <ion-button color="danger" expand="full" shape="round" (click)="deleteVehicleCheck(check.id)">
        Изтрий
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
