<ion-content [fullscreen]="true">
  <!-- Toggle Button -->
  <ion-button expand="full" shape="round" (click)="toggleCheckForm()" class="add-btn">
    {{ showCheckForm ? 'Скрий формата' : 'Добави преглед' }}
  </ion-button>

  <!-- Add Check Form -->
  <div *ngIf="showCheckForm">
    <form (ngSubmit)="addVehicleCheckRecord()">
      <ion-card-content>

        <!-- Cost -->
        <ion-item [class.invalid-item]="(checkData.cost === null || checkData.cost < 0 || checkData.cost > 1000) && showValidation">
          <ion-label>Цена</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="checkData.cost"
            name="cost"
            placeholder="Въведи цена">
          </ion-input>
        </ion-item>
        <div *ngIf="checkData.cost === null && showValidation" class="error-text">
          Полето е задължително.
        </div>
        <div *ngIf="checkData.cost !== null && (checkData.cost < 0 || checkData.cost > 1000) && showValidation" class="error-text">
          Стойността трябва да е между 0 и 1000.
        </div>

         <!-- Start Date -->
         <ion-item [class.invalid-item]="!checkData.startDate && showValidation">
          <ion-label>Дата на преглед</ion-label>
          <app-datetime-picker (dateSelected)="checkData.startDate = $event"></app-datetime-picker>
        </ion-item>
        <div *ngIf="!checkData.startDate && showValidation" class="error-text">
          Полето е задължително.
        </div>

        <!-- Submit Button -->
        <ion-button expand="full" type="submit" shape="round" class="add-btn">
          Запази
        </ion-button>
      </ion-card-content>
    </form>
  </div>

  <!-- List of Check Records -->
  <ion-card *ngFor="let check of vehicleCheckRecords" class="custom-item">
    <ion-card-header>
      <ion-card-title class="section-title">Начална дата: {{ check.startDate }}</ion-card-title>
      <ion-card-subtitle>Крайна дата: {{ check.endDate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Цена:</strong> {{ check.cost | currency:'BGN':'symbol-narrow' }}</p>
      <ion-button color="danger" expand="full" shape="round" (click)="deleteVehicleCheck(check.id)">
        Изтрий
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
