ion-content {
  animation: fadeIn 3s ease-in-out;
  --padding-top: var(--ion-safe-area-top, 2rem);
}

.car-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  height: 6.5rem; 
  margin: 0 auto; 
}

.plate-year-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.license-plate {
  display: flex;
  background: url('/assets/img/empty-plate.png') no-repeat center;
  background-size: cover;
  width: 12rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}

.plate-char {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  margin-left: 1.5rem; 
  margin-right: 0.2rem; 
}

.plate-space {
  width: 0.2rem; 
}

.plate-number {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
}

/* Year Below the Plate */
.car-year {
  font-size: 1.20rem;
  font-weight: bold;
  color: #ffffff; 
}

/* Car Image */
.car-image {
  width: 10rem;
  height: 6rem; /* Ensure all images have the same height */
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

/* Darker card color (slightly darker than the background) */
ion-card {
  background: #141414;
  color: #ffffff;
  border-radius: 3rem;
  font-size: large;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  margin: 1rem auto;
  min-height: 5rem; /* Set a minimum height for all cards */
}

/* Center the car name */
.car-details {
  display: flex;
  justify-content: center; /* Centers the text */
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

.car-name {
  font-size: 1.5rem; /* Matches other text sizes */
  font-weight: bold;
  color: #ffffff; /* Matches other text */
  text-align: center; /* Ensures full centering */
}

/* Pagination Buttons */
.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination-buttons ion-button {
  --background: #256976; /* Match the add-car button color */
  --color: #ffffff; /* White text color for the pagination buttons */
  margin: 1.5rem; /* Add some space between the buttons */
  width: 8rem; /* Adjusted width */
  display: block; /* Ensures the button is a block element for margin auto to work */
  margin-left: auto; /* Centers the button horizontally */
  margin-right: auto; /* Centers the button horizontally */
}

/* Add Car Button */
.add-car-btn {
  --background: #256976; /* Color of the login button */
  --color: #ffffff; /* White text color for the login button */
  height: 4rem;
  margin-top: 2rem;
  font-size: large;
  font-weight: bold;
  width: 60%; /* Adjusted width */
  display: block; /* Ensures the button is a block element for margin auto to work */
  margin-left: auto; /* Centers the button horizontally */
  margin-right: auto; /* Centers the button horizontally */
}

/* No Cars Message */
.no-cars-card {
  margin-top: 1rem;
  background-color: #292929; /* Color of the add button */
  color: #ffffff; /* White text color for the add button */
  border-radius: 3rem; /* Rounded corners for the button */
  width: 90%; /* Adjusted width */
  height: 6rem; /* Adjusted height */
  text-align: center;
  display: flex; /* Use Flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  margin-left: auto; /* Centers the button horizontally */
  margin-right: auto; /* Centers the button horizontally */
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
