<ion-content [fullscreen]="true">
  <!-- Add Car Button -->
  <ion-button expand="full" type="submit" routerLink="/car-add" shape="round" class="add-car-btn">ДОБАВИ КОЛА</ion-button>

  <ion-list>
    <ion-item *ngFor="let car of displayedCars" (click)="goToCarDetails(car.CarID)">
      <ion-card>
        <div class="car-container">
          <!-- License Plate -->
          <div class="license-plate">
            <img *ngFor="let char of car.License_plate.split('')" [src]="getLicensePlateImage(char)" class="plate-char" />
          </div>

          <!-- Car Image -->
          <img [src]="car.photoUrl" class="car-image"/>
        </div>

        <ion-card-content>
          <ion-card-title>{{ car.Brand }} {{ car.Model }}</ion-card-title>
          <p class=""><strong>ГОДИНА:</strong> {{ car.Year }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <!-- Pagination Controls -->
  <div class="pagination-buttons">
    <ion-button *ngIf="currentPage > 1" shape="round" (click)="prevPage()">НАЗАД</ion-button>
    <ion-button *ngIf="displayedCars.length >= 20 && (cars.length > currentPage * carsPerPage)" shape="round" (click)="nextPage()">НАПРЕД</ion-button>
  </div>
  
  

  <!-- No Cars Message -->
  <ion-card *ngIf="cars.length === 0" class="no-cars-card">
    <ion-card-content>
      Нямаш автомобили натисни "ДОБАВИ КОЛА", за да добавиш първата си кола.
    </ion-card-content>
  </ion-card>
</ion-content>