<ion-content [fullscreen]="true">
  <!-- Add Car Button -->
  <ion-button expand="full" type="submit" routerLink="/car-add" shape="round" class="add-car-btn">
    ДОБАВИ КОЛА
  </ion-button>

  <ng-container *ngIf="cars.length > 0; else noCars">
    <ion-list>
      <ion-item *ngFor="let car of displayedCars" (click)="goToCarDetails(car.CarID)">
        <ion-card>
          <div class="car-container">
            <!-- License Plate with Year Below -->
            <div class="plate-year-container">
              <div class="license-plate">
                <span class="plate-char">
                  {{ car.License_plate.length === 8 ? car.License_plate.substring(0, 2) : car.License_plate.substring(0, 1) }}
                </span>
                <span class="plate-space"></span>
                <span class="plate-number">
                  {{ car.License_plate.length === 8 ? car.License_plate.substring(2) : car.License_plate.substring(1) }}
                </span>
              </div>
              <div class="car-year">ГОДИНА:{{ car.Year }}</div>
            </div>
            <!-- Car Image -->
            <img [src]="car.photoUrl" class="car-image"/>
          </div>
          <!-- Centered Car Name -->
          <div class="car-details">
            <ion-card-title class="car-name">{{ car.Brand }} {{ car.Model }}</ion-card-title>
          </div>
        </ion-card>
      </ion-item>
    </ion-list>

    <!-- Pagination Controls -->
    <div class="pagination-buttons">
      <ion-button *ngIf="currentPage > 1" shape="round" (click)="prevPage()">НАЗАД</ion-button>
      <ion-button *ngIf="displayedCars.length >= 20 && (cars.length > currentPage * carsPerPage)" shape="round" (click)="nextPage()">НАПРЕД</ion-button>
    </div>
  </ng-container>

  <ng-template #noCars>
    <ion-card class="no-cars-card">
      <ion-card-content>
        Нямаш автомобили, натисни "ДОБАВИ КОЛА", за да добавиш първата си кола.
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
