<ion-content *ngIf="carDetails">
  <!-- Car Photos -->
  <ion-card class="car-details-card">
    <div class="car-image-container">
      <div class="image-wrapper">
        <img [src]="carDetails.photoUrl" class="car-image" (click)="showNextImage()">
      </div>
      <button *ngIf="currentImageIndex > 0" (click)="showPreviousImage()" class="image-nav left">❮</button>
      <button *ngIf="currentImageIndex < carDetails.photoNames.length - 1" (click)="showNextImage()" class="image-nav right">❯</button>
    </div>

    <!-- License Plate -->
    <div class="license-plate">
      <span class="plate-char">
        {{ carDetails.License_plate.length === 8 ? carDetails.License_plate.substring(0, 2) : carDetails.License_plate.substring(0, 1) }}
      </span>
      <span class="plate-space"></span>
      <span class="plate-number">
        {{ carDetails.License_plate.length === 8 ? carDetails.License_plate.substring(2) : carDetails.License_plate.substring(1) }}
      </span>
    </div>
  </ion-card>

  <!-- Car Details -->
  <ion-card class="car-details-card">
    <ion-card-header>
      <ion-card-title>{{ carDetails.Brand }} {{ carDetails.Model }}</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="showDetails">
      <div class="car-detail-item">
        <span class="detail-label">Тип на шасито:</span>
        <span class="detail-value">{{ carDetails.Chassis_type }}</span>
      </div>
      <div class="car-detail-item">
        <span class="detail-label">Тип на двигателя:</span>
        <span class="detail-value">{{ carDetails.Engine_type }}</span>
      </div>
      <div class="car-detail-item">
        <span class="detail-label">Скоростна кутия:</span>
        <span class="detail-value">{{ carDetails.Transmission_type }}</span>
      </div>
      <div class="car-detail-item">
        <span class="detail-label">Цвят:</span>
        <span class="detail-value">{{ carDetails.Color }}</span>
      </div>
      <div class="car-detail-item">
        <span class="detail-label">Задвижване:</span>
        <span class="detail-value">{{ carDetails.Drive }}</span>
      </div>
      <div class="car-detail-item">
        <span class="detail-label">Обем на двигателя:</span>
        <span class="detail-value">{{ carDetails.Volume }}</span>
      </div>
      <div class="car-detail-item">
        <span class="detail-label">Евро стандарт:</span>
        <span class="detail-value">{{ carDetails.Euro }}</span>
      </div>
      <div class="car-detail-item">
        <span class="detail-label">Мощност:</span>
        <span class="detail-value">{{ carDetails.Power }} HP</span>
      </div>
      <div class="car-detail-item">
        <span class="detail-label">Година:</span>
        <span class="detail-value">{{ carDetails.Year }}</span>
      </div>
      <div class="car-detail-item">
        <span class="detail-label">Kилометраж:</span>
        <span class="detail-value">{{ carDetails.Current_KM }}</span>
      </div>
      <div class="car-detail-item">
        <span class="detail-label">Цена:</span>
        <span class="detail-value">{{ carDetails.Price_of_buying }}</span>
      </div>
    </ion-card-content>
    <div class="toggle-button-container">
      <ion-button fill="clear" shape="round" (click)="toggleDetails()">
        {{ showDetails ? 'Скрий детайлите' : 'Покажи детайлите' }}
      </ion-button>
    </div>
  </ion-card> 

  <!-- Expenses Section -->
  <ion-card class="car-details-card">
    <ion-card-header>
      <ion-card-title>Разходи</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="showSpendings">
      <div class="expense-item">
        <span class="expense-label">Този месец:</span>
        <span class="expense-value">{{ carDetails.spentThisMonth}}</span>
      </div>
      <div class="expense-item">
        <span class="expense-label">Средно на месец:</span>
        <span class="expense-value">{{ carDetails.averageSpentThisMonth}}</span>
      </div>
      <div class="expense-item">
        <span class="expense-label">Тази година:</span>
        <span class="expense-value">{{ carDetails.spentThisYear}}</span>
      </div>
      <div class="expense-item">
        <span class="expense-label">Общо похарчени:</span>
        <span class="expense-value total">{{ carDetails.totalSpent}}</span>
      </div>
      <div class="action-item" (click)="goToMonthlyExpenses()">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <span>Месечни разходи</span>
      </div>
    </ion-card-content>

    <!-- Toggle Button -->
    <div class="toggle-button-container">
      <ion-button fill="clear" shape="round" (click)="toggleSpendings()">
        {{ showSpendings ? 'Скрий разходите' : 'Покажи разходите' }}
      </ion-button>
    </div>
  </ion-card>

  <!-- Action Buttons -->

  <ion-card class="car-details-card">
    <ion-card-header>
      <ion-card-title>Плащания</ion-card-title>
    </ion-card-header> 
    <div class="actions-grid">
      <div class="action-item" (click)="goToRefueling()">
        <ion-icon name="water-outline"></ion-icon>
        <span>Зареждане</span>
      </div>
      <div class="action-item" (click)="goToToll()">
        <ion-icon name="cash-outline"></ion-icon>
        <span>Тол такса</span>
      </div>
      <div class="action-item" (click)="goToAnnual()">
        <ion-icon name="calendar-outline"></ion-icon>
        <span>Годишен данък</span>
      </div>
      <div class="action-item" (click)="goToMaintaining()">
        <ion-icon name="construct-outline"></ion-icon>
        <span>Поддръжка</span>
      </div>
      <div class="action-item" (click)="goToInsurance()">
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        <span>Застраховка</span>
      </div>
      <div class="action-item" (click)="goToMechanicalbills()">
        <ion-icon name="hammer-outline"></ion-icon>
        <span>Механични разходи</span>
      </div>
      <div class="action-item" (click)="goToYearlyCheck()">
        <ion-icon name="clipboard-outline"></ion-icon>
        <span>ГТП</span>
      </div>
      <div class="action-item" (click)="goToAnotherExpenses()">
        <ion-icon name="wallet-outline"></ion-icon>
        <span>Други разходи</span>
      </div>
    </div>
  </ion-card>

  <ion-card class="car-details-card">
    <ion-card-header>
      <ion-card-title>За колата</ion-card-title>
    </ion-card-header>
      <div class="action-item2" (click)="editCar()">
        <ion-icon name="create-outline"></ion-icon>
        <span>Редактиране</span>
      </div>
      <div class="action-item2" (click)="showAddUserPopup()">
        <ion-icon name="person-add-outline"></ion-icon>
        <span>Добави потребител</span>
      </div>
      <div class="action-item2" (click)="goToCarListing()">
        <ion-icon name="car-outline"></ion-icon>
        <span>Обяви за продажба</span>
      </div>
      <div class="action-item3" (click)="transferOwnership()">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
        <span>Прехвърли собственост</span>
      </div>
    <div class="action-item3" (click)="deleteCar()">
      <ion-icon name="trash-outline"></ion-icon>
      <span>Изтрий колата</span>
    </div>
  </ion-card>