<!-- car-details.page.html -->
<ion-content *ngIf="carDetails">
  <ion-card>
    <img [src]="carDetails.photoUrl" alt="Car Image" />
    <ion-card-header>
      <ion-card-title>{{ carDetails.Brand }} {{ carDetails.Model }}</ion-card-title>
      <ion-card-subtitle>{{ carDetails.License_plate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Chassis Type:</strong> {{ carDetails.Chassis_type }}</p>
      <p><strong>Engine Type:</strong> {{ carDetails.Engine_type }}</p>
      <p><strong>Year:</strong> {{ carDetails.Year }}</p>
      <p><strong>Current KM:</strong> {{ carDetails.Current_KM }}</p>
      <p><strong>Oil Change:</strong> {{ carDetails.Oil_change }}</p>
      <p><strong>Price:</strong> {{ carDetails.Price_of_buying | currency }}</p>
    </ion-card-content> 
  </ion-card>
  <ion-card-content>
    <p><strong>Money Spent This Month:</strong> {{ carDetails.spentThisMonth | currency }}</p>
    <p><strong>Average Spent Per Month:</strong> {{ carDetails.averageSpentThisMonth | currency }}</p>
    <p><strong>Money Spent This Year:</strong> {{ carDetails.spentThisYear | currency }}</p>
    <p><strong>Average Spent Per Year:</strong> {{ carDetails.averageSpentThisYear | currency }}</p>
    <p><strong>Total Money Spent:</strong> {{ carDetails.totalSpent | currency }}</p>
  </ion-card-content>
  <ion-content class="ion-padding">
    <ion-button color="primary" expand="full" (click)="editCar()">
      Edit Car
    </ion-button>
    <ion-button color="primary" expand="full" (click)="showAddUserPopup()">
      Add User to Car
    </ion-button>
    <ion-button color="danger" expand="full" (click)="transferOwnership()">
      Transfer Ownership
    </ion-button>
    <ion-button color="danger" expand="full" (click)="deleteCar()">
      Delete Car
    </ion-button>
    <ion-button color="secondary" expand="full" (click)="goToRefueling()">
      Refueling
    </ion-button>   
    <ion-button color="secondary" expand="full" (click)="goToToll()">
      Toll Tax
    </ion-button>  
    <ion-button color="secondary" expand="full" (click)="goToAnnual()">
      Annual Tax
    </ion-button> 
    <ion-button color="secondary" expand="full" (click)="goToMaintaining()">
      Maintaining
    </ion-button> 
    <ion-button color="secondary" expand="full" (click)="goToInsurance()">
      Insurance
    </ion-button> 
    <ion-button color="secondary" expand="full" (click)="goToMechanicalbills()">
      Mechanical Bills
    </ion-button> 
  </ion-content>
</ion-content>

<ion-content *ngIf="!carDetails">
  <ion-text color="danger">
    <h2>Car details not found.</h2>
  </ion-text>
</ion-content>