ion-button img {
    width: 4rem; /* Adjust the size of the logo */
    height: auto;
}

.ion-menu {
  z-index: 20; /* Adjust this value based on your app's z-index usage */
}

.ion-backdrop {
  z-index: 10; /* Ensure this is less than the sidebar's z-index */
}

.menu-toggle-button {
  --padding-end: 16px;
  --background: transparent; /* Ensure no background */
  --color: white; /* Text color as white */
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 16px; /* Adjust text size */
}

.menu-toggle-button ion-text {
  color: white; /* Ensure text inside the button is white */
}


.menu-toggle-right {
  position: absolute; /* Position it absolutely relative to its container */
  right:1rem; /* Adjust the distance from the right edge */
  top: 1rem; /* Align it with the top of its container */
  z-index: 10; /* Ensure it appears above other elements if overlapping */
  color: white; /* Make sure the text color is white */
}