/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-modal::part(header),
ion-modal ion-toolbar {
  display: none !important;  /* Hides the entire header including the Close button */
}

ion-modal::part(content) {
  padding-top: 0px !important; /* Removes any extra space left by the hidden header */
}

.collapsible-content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 1s ease, opacity 1s ease;
}

.collapsible-content.open {
  max-height: 1000px; // Adjust this to the max height you expect
  opacity: 1;
}

.collapsible-section {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.collapsible-section.open {
  max-height: 1000px; // adjust as needed for form height
  opacity: 1;
}

body.dark {
  --ion-background-color: #272727;
  --ion-text-color: #ffffff;
  --ion-item-background: #272727;
  --ion-toolbar-background: #272727;
  --ion-toolbar-color: #ffffff;
  --ion-card-background: #333333;

  // Add more overrides as needed
}
