<ion-content [fullscreen]="true">
  <!-- Toggle Form Button -->
  <ion-button expand="full" shape="round" (click)="toggleBillForm()" class="add-btn">
    {{ showBillForm ? 'Скрий формата' : 'Добави сметка' }}
  </ion-button>

  <!-- Mechanical Bill Form -->
  <div *ngIf="showBillForm">
    <form (ngSubmit)="addMechanicalBill()">
      <ion-card-content>

        <!-- Type Select -->
        <ion-item button (click)="typeSelect.open()" [class.invalid-item]="!billData.type && showValidation">
          <ion-label>Тип сметка</ion-label>
          <ion-text slot="end">
            {{ getTypeLabel(billData.type) || 'Избери' }}
          </ion-text>
          <ion-select #typeSelect interface="modal"
                      [(ngModel)]="billData.type"
                      name="type"
                      [selectedText]="''"
                      placeholder=""
                      cancelText=""
                      okText=""
                      style="opacity: 0; height: 0; width: 0; position: absolute;">
            <ion-select-option *ngFor="let option of maintainingOptions" [value]="option.value">
              {{ option.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="!billData.type && showValidation" class="error-text">Полето е задължително.</div>

        <!-- Cost -->
        <ion-item class="form-item" [class.invalid-item]="(!billData.cost || billData.cost < 0 || billData.cost > 1000000) && showValidation">
          <ion-label>Цена</ion-label>
          <ion-input type="number" [(ngModel)]="billData.cost" name="cost" placeholder="Въведи цена"></ion-input>
        </ion-item>
        <div *ngIf="!billData.cost && showValidation" class="error-text">Полето е задължително.</div>
        <div *ngIf="billData.cost && (billData.cost < 0 || billData.cost > 1000000) && showValidation" class="error-text">
          Стойността трябва да е между 0 и 1 000 000.
        </div>

        <!-- Description -->
        <ion-item class="form-item">
          <ion-label class="no-wrap-label">Oписание</ion-label>
          <ion-input
            [(ngModel)]="billData.description"
            name="description"
            placeholder="Въведи описание">
          </ion-input>
        </ion-item>
        

        <!-- Date -->
        <ion-item [class.invalid-item]="!billData.date && showValidation">
          <ion-label>Дата</ion-label>
          <app-datetime-picker (dateSelected)="billData.date = $event"></app-datetime-picker>
        </ion-item>
        <div *ngIf="!billData.date && showValidation" class="error-text">Полето е задължително.</div>
        
        <!-- Save Button -->
        <ion-button expand="full" type="submit" shape="round" class="add-btn">Запази</ion-button>
      </ion-card-content>
    </form>
  </div>

  <!-- List of Mechanical Bills -->
  <ion-card *ngFor="let bill of mechanicalBills" class="custom-item">
    <ion-card-header>
      <ion-card-title class="section-title">Тип: {{ getTypeLabel(bill.type) }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Дата:</strong> {{ bill.date }}</p>
      <p><strong>Цена:</strong> {{ bill.cost }} лева</p>
      <p *ngIf="bill.description"><strong>Описание:</strong> {{ bill.description }}</p>
      <ion-button color="danger" expand="full" shape="round" (click)="deleteMechanicalBill(bill.id)">Изтрий</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
