.chat-card {
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #141414;
    color: white;
  }
  
  .chat-footer {
    padding: 0.5rem;
    background: #1d1d1d;
    border-top: 1px solid #444;
  }
  
  .custom-input {
    --padding-start: 1rem;
    color: white;
  }
  
  .send-button {
    --background: #256976;
    --color: #ffffff;
    height: 4rem;
    font-size: large;
    font-weight: bold;
    width: 60%;
    display: block;
    margin: 0.5rem auto;
  }
  