<!-- register.page.html -->
<ion-content class="ion-padding">
  <img src="assets/img/logo.png" alt="Logo" class="logo">
  <form (ngSubmit)="register()">
    <ion-item class="custom-input">
      <ion-input type="email" [(ngModel)]="email" name="email" required placeholder="Email"></ion-input>
    </ion-item>
    <ion-item class="custom-input">
      <ion-input type="password" [(ngModel)]="password" name="password" required placeholder="Password"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" shape="round" class="register-button">Register</ion-button>
  </form>
  <div class="login-link">
    <ion-button expand="full" fill="clear" color="white" routerLink="/login">
      Already have an account? Login
    </ion-button>
  </div>
</ion-content>